.button {
  display: inline-block;
  border: none;
  padding: 8px 20px;
  border: solid 1px #eee;
  background: #FAFAFA;
  font-weight: 600;
  transition: all .5s;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover {
    background: #000;
    color: #fff;
    transition: all .5s;
  }

  &.primary {
    border: solid 1px $primary;
    background: $primary;
    color: #000;

    &:hover {
      background: #000;
      color: #fff;
      transition: all .5s;
    }
  }
}

.btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;

  .button {
    width: calc(50% - 16px);
    text-align: center;

    &:last-child {
      margin-left: 8px;
    }
  }
}