.admin-header {
  padding: 16px;
  background: #151515;

  >.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.admin-logo {
  font-size: 1.5rem;
  font-weight: 600;

  >a {
    color: #fff;
  }
}

.admin-nav {
  padding: 16px;
  margin-bottom: 32px;
  background: rgba(0, 0, 0, 0.4);

  a {
    color: #fff;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  .router-link-active {
    border-bottom: solid 5px $primary;
    padding: 8px 12px 6px;
    font-weight: 600;
    transition: all .3s;
  }
}

.user-bg {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  font-size: 1.125rem;
}

.data-list {
  tr {
    >td:first-child {
      padding-left: 16px;

      @include desktop {
        padding-left: 8px;
      }
    }
  }

  td {
    >button {
      width: 100%;
    }
  }
}

.table-rwd {
  @include desktop {
    >thead {
      display: none;
    }

    >tbody {
      td {
        position: relative;
        display: flex;

        &::before {
          content: attr(data-label);
          display: block;
          width: 80px;
          float: left;
          font-weight: bold;
          color: #000;
          margin-right: 16px;
        }

        &:last-child {
          &::before {
            display: none;
          }
        }
      }
    }
  }
}