.space-tabs {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-bottom: 1px solid #000;
  margin: 0;
  margin-bottom: 74px;
  padding-left: 0;
}

.space-tab-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #232323;
  border: solid 1px #ddd;
  font-weight: 600;
  padding: 18px 6px;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background: rgba(198, 198, 198, 0.1);
    transition: all .3s;
  }

  &.active {
    background: #000;
    color: #fff;
  }
}

.space-page {
  .space-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 18px;
  }

  .space-img-box {
    position: relative;
  }

  .space-next-btn {
    position: absolute;
    right: -24px;
    bottom: -24px;
    width: 116px;
    height: 116px;
    background: transparent;
    border: solid 1px #848484;
    border-radius: 50%;
    transition: all .3s;
    z-index: 1;

    &:hover {
      background: $primary;
      border-color: $primary;
      transition: all .3s;
    }

    @include wide {
      right: 0;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .space-img {
    position: relative;
    height: 450px;

    @include tablet-landscape {
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .space-next-btn {
    cursor: pointer;

  }

  .space-info {
    margin-bottom: 72px;
  }

  .flex-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
  }

  .title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .space-detail {
    position: relative;
  }

  .remaining-seats {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    color: #fff;
    padding: 8px 12px;
  }

  .seat-text {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 600;
  }
}

.seat-display {
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }
}

.gray-info {
  background: #FAFAFA;
  border: solid 1px #E7E7E7;
  margin-bottom: 12px;

  .title {
    padding: 12px;
    background: #E7E7E7;
  }

  p {
    margin-bottom: 0;
  }
}

.space-type-detail {
  display: flex;
  justify-content: space-between;

  @include desktop {
    flex-direction: column;
  }

  .type-img {
    width: 60%;

    @include desktop {
      width: 100%;
      margin-bottom: 24px;
    }

    img {
      width: 100%;
    }
  }

  .type-btn {
    width: 35%;

    @include desktop {
      width: 100%;
    }
  }

  .type-btn-inner {
    position: relative;
    height: 400px;
    overflow: auto hidden;

    @include wide {
      height: 344px;
    }

    @include tablet-landscape {
      height: 240px;
    }
  }

  .btn {
    position: relative;
    display: inline-block;
    padding: 16px;
    margin-bottom: 8px;
    background: #FAFAFA;
    color: #000;
    border-radius: 0;
    line-height: 1.6;
    font-weight: 600;
    text-align: left;

    &.active {
      background: #000;
      color: #fff;
    }
  }

  .bg-text {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-90deg);
    color: #E7E7E7;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 5px;
    pointer-events: none;
    opacity: 0.4;
  }
}