.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 12px 16px;
  transition: all .3s;
  z-index: 3;

  @include desktop {
    padding: 0;
    flex-direction: column;
  }

  &.fixed-top {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    transition: all .3s;

    .logo {
      width: 80px;
      height: 80px;
      background: url(@/assets/images/logo-sm.png) no-repeat 0 0/cover !important;
      transition: all .1s;
    }

    .nav-link {
      color: #fff;
    }
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 154px;
  height: 174px;
  background: url(@/assets/images/logo-md.png) no-repeat 0 0/contain !important;
  transition: all .3s;
  text-indent: -9999px;

  @include wide {
    width: 116px;
    height: 130px;
  }

  @include desktop {
    position: relative;
    width: 80px;
    height: 80px;
    background: url(@/assets/images/logo-sm.png) no-repeat 0 0/cover !important;
  }
}

.nav {
  position: relative;
  margin-left: auto;
  font-weight: 600;

  @include desktop {
    margin: auto;
    padding: 0;
    display: block;
    width: 100%;
  }

  &-link {
    padding: 8px 16px;
    margin-right: 12px;

    @include desktop {
      color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }

    & active {
      background: $primary;
    }

    &:hover {
      background: $primary;
      color: #000 !important;
    }
  }
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @include desktop {
    padding: 16px 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.navbar-toggler {
  display: none;
  position: absolute;
  top: 24px;
  right: 16px;
  padding: 0;
  border: none;
  z-index: 1;

  @include desktop {
    display: block;
  }

  &:focus {
    box-shadow: none;
  }

  &-icon {
    width: 40px;
    height: 40px;
    background: url(@/assets/images/navbar-toggler-icon.svg) no-repeat 0/contain;
  }
}